@charset "UTF-8";


/* 월별 스케쥴 테이블 스타일 */
.month-tb {
	border-collapse: collapse;
	border-spacing: 0;
	width: 700px;
}

.month-tb td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	height: 100px;
	width: 100px;
}

.month-tb th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	background-color: #ff9601;
}

.month-tb .month-row {
	vertical-align: top
}

/* 가계부 테이블 스타일 */
.cal-tb {
	border-collapse: collapse;
	border-spacing: 0;
	width: 220px;
}

.cal-tb td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.cal-tb th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	background-color: #ff9601;
}

.cal-tb .cal-row {
	vertical-align: top
}

.carousel {margin: 0 auto;width:700px;height:50px;overflow:hidden;position:relative;}
.carousel .next {display:block;height:22px;width:11px;position:absolute;right:0px;top:14px;background:url(../images/carousel-control.png) right top no-repeat}
.carousel .prev {display:block;height:22px;width:11px;position:absolute;left:0px;top:14px;background:url(../images/carousel-control.png) left top no-repeat}

.day-tb {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
}

.day-tb td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	height: 10px;
	width: 250px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
}

.day-tb th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #ff9601;
}

.day-input-tb {
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
}

.day-tb .day-row {
	vertical-align: top
}

.day-tb input {
	padding-left: 10px;
}


textarea {
	float: left;
	height: 50px;
	overflow: auto;
	width: 100%;
	font-size: 13px;
	line-height: 1.23em;
	color: #404040;
	padding: 6px 10px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #d9d9d9;
	background: #fcfcfc;
	outline: none
}

.select-editable {
	float: left;
	position: relative;
	background-color: white;
	border: solid grey 1px;
	width: 220px;
	height: 18px;
}

.select-editable select {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 14px;
	border: none;
	width: 220px;
	margin: 0
}

.select-editable input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	padding: 1px;
	font-size: 14px;
	border: none;
}

.select-editable select:focut, .select-editable input:focus {
	outline: none;
}