.menu-tb {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.menu-tb tr {
	border-style: solid;
	border-width: 1px;
}

.menu-tb th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px;
	overflow: hidden;
	word-break: normal;
	height: 10px;
	background-color: #ff9601;
}

.menu-tb td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px;
	overflow: hidden;
	word-break: normal;
	height: 10px;
}

.menu-tb .menu-row {
	vertical-align: top
}

.talk-tb {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.talk-tb td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px;
	overflow: hidden;
	word-break: normal;
	height: 10px;
	/* 	background-color: #ff9601; */
	border-style: solid;
	border-width: 1px;
}

.talk-tb .talk-row {
	vertical-align: top
}

textarea {
	float: left;
	height: 50px;
	overflow: auto;
	width: 100%;
	font-size: 13px;
	line-height: 1.23em;
	color: #404040;
	/* 	padding: 6px;*/
	margin: 10px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #d9d9d9;
	background: #fcfcfc;
	outline: none
}